html {
  background: url('./background.webp') bottom center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: #373e98;
  background-size: 840px;
  padding-top: 2%;
}

button {
  border-radius: 16px;
  border: #fee36e;
  background-color: #fee36e;
  color:#2a2a2a;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  width: 270px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
button:active {
  transform: scale(1.05);
  transition: all .05s ease-in-out;
  border-color:#ceb92c;
  box-shadow: 0 0 1rem #ceb92c;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 10%;
}

.results {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  background-color: #f16775;
  color:#FFFFFF;
  padding: 16px;
  height: 120px;
  text-align: center;
  justify-content: center;
  align-self: center;
  min-width: 900px;
  border-radius: 50%;
  margin-top: 5rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 800px;
}

#userscore, #opponentscore {
  display: flex;
  background-color: #ceb92c;
  color:#2a2a2a;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 32px;
  font-size: 72px;
  border-radius: 100%;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scoretitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 800px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  display: flex;
  background-color: #ceb92c;
  color:#2a2a2a;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 120px;
  text-align: center;
  padding: 32px;
  font-size: 36px;
  margin-bottom: 16px;
  border-radius: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 90vh;
}