html {
  background: url('./background.webp') bottom center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: #373e98;
  background-size: 90vh;
  padding-top: 1%;
}

button {
  border-radius: 16px;
  border: #fee36e;
  background-color: #fee36e;
  color:#2a2a2a;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  width: 270px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
  }
  
button:active {
  transform: scale(1.05);
  transition: all .05s ease-in-out;
  border-color:#ceb92c;
  box-shadow: 0 0 1rem #ceb92c;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.results {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  background-color: #ceb92c;
  color: #FFFFFF;
  padding: 16px;
  height: 120px;
  text-align: center;
  justify-content: center;
  align-self: center;
  min-width: 800px;
  border-radius: 16px;
  margin-top: 15rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 900px;
}

#userscore, #opponentscore {
  display: flex;
  background-color: #f16775;
  color:#FFFFFF;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 32px;
  font-size: 72px;
  border-radius: 16px;
}

.scoretitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 900px;
}

.title {
  display: flex;
  background-color: #f16775;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 120px;
  text-align: center;
  padding: 32px;
  font-size: 36px;
  margin-bottom: 16px;
  border-radius: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 85vh;
}